h1 {
  font-size: 50px;
}
h2 {
  font-size: 45px;
}

body {
  background: #feac5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4bc0c8,
    #c779d0,
    #feac5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4bc0c8,
    #c779d0,
    #feac5e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: yellow;
  margin: 0;
}

h1 {
  font-family: "lobster", helvetica, arial;
  text-align: center;
  padding: 10px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  line-height: 30px;
  height: 30px;
}

.disc {
  margin-left: 10px;
  margin-right: 10px;
}

.rounded {
  border-radius: 15px;
  filter: drop-shadow(10px 10px 20px #333);
}

.intro {
  display: flex;
  flex-direction: row;
}

.bio {
  margin-left: 50px;
  font-size: 15px;
}

main {
  padding: 40px;
}

.profile-pic {
  width: 400px;
  height: 400px;
}

.about {
  text-align: left;
  font-size: 100px;
  margin-bottom: 0;
  margin-block-end: 0;
}

.sub-title {
  margin-top: 0;
  font-size: 40px;
  text-align: left;
}

p {
  font-size: 30px;
  color: rgb(62, 62, 62);
  line-height: 50px; /* 25px +25px + 25px */
}

.sds {
  font-size: 70px;
  text-align: right;
}
.p-home {
  text-align: left;
  margin-left: 20px;
}

.code-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pictures {
  object-fit: contain;
}

.code-element{
  width: 150px;
  height: 150px;
}